{{define "component/themeSwitchTemplate"}}
{{end}}

{{define "component/themeSwitchTemplateLogin"}}
{{end}}

{{define "component/themeSwitcher"}}
<script>
  function createThemeSwitcher() {
    const isDarkTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
    if (isDarkTheme) {
      document.documentElement.setAttribute('data-theme', 'ultra-dark');
    }
    const theme = isDarkTheme ? 'dark' : 'light';
    document.querySelector('body').setAttribute('class', theme);
    return {
      isDarkTheme,
      get currentTheme() {
        return this.isDarkTheme ? 'dark' : 'light';
      },
      toggleTheme(theme) {
        this.isDarkTheme = theme === 'dark';
        if (themeSwitcher.isDarkTheme) {
         document.documentElement.setAttribute('data-theme', 'ultra-dark');
        } else {
          document.documentElement.removeAttribute('data-theme');
        }
        document.querySelector('body').setAttribute('class', this.isDarkTheme ? 'dark' : 'light');
        document.getElementById('message').className = themeSwitcher.currentTheme;
      }
    };
  }

  const themeSwitcher = createThemeSwitcher();

  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
    const newTheme = e.matches ? 'dark' : 'light';
    themeSwitcher.isDarkTheme = e.matches;
    if (themeSwitcher.isDarkTheme) {
      document.documentElement.setAttribute('data-theme', 'ultra-dark');
    } else {
      document.documentElement.removeAttribute('data-theme');
    }
    document.documentElement.classList.remove('dark', 'light');
    document.documentElement.classList.add(newTheme);
    document.querySelector('body').setAttribute('class', newTheme);
  });

  Vue.component('theme-switch', {
    props: [],
    template: `{{template "component/themeSwitchTemplate"}}`,
    data: () => ({
      themeSwitcher
    }),
    mounted() {
      this.$message.config({
        getContainer: () => document.getElementById('message')
      });
      document.getElementById('message').className = themeSwitcher.currentTheme;
    }
  });
  Vue.component('theme-switch-login', {
    props: [],
    template: `{{template "component/themeSwitchTemplateLogin"}}`,
    data: () => ({
      themeSwitcher
    }),
    mounted() {
      this.$message.config({
        getContainer: () => document.getElementById('message')
      });
      document.getElementById('message').className = themeSwitcher.currentTheme;
    }
  });
</script>
{{end}}
